{% extends 'admin/login.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-hRoIoAgy9J9BP27W8Bv6MjyF7f+4m4zYbYRwyKjZc0VZS9+wg3kcq1KQ2Uw+6L99Q6KjTgUzJ6PZ/P/9s9D8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="form-group">
        <label for="username"><i class="fas fa-user"></i> 授权合作账号登录</label> </br>
        <input type="button" class="form-control" id="username" value="QQ 账号登录">
    </div>
{% endblock %}
